POSTGRES_USER=sigmaconnect
POSTGRES_PASSWORD=sigmaconnect
POSTGRES_DB=sigmaconnect
DATABASE_URL=postgresql+asyncpg://sigmaconnect:sigmaconnect@db:5432/sigmaconnect
REDIS_URL=redis://redis:6379/0
JWT_SECRET=76abcbda07418205bc65fc33ebd1ab6896e93e3734edc648094908ea8fcaa01aedd6ad84d5f795b82172823bcb9c917518c981930824db99f810fab3bfa6357e
JWT_ALGORITHM=HS256
ADMIN_NUMBER=+919326169639
WHATSAPP_API_TOKEN=YOUR_REAL_TOKEN
WHATSAPP_PHONE_NUMBER_ID=384322431420454
WHATSAPP_OTP_TEMPLATE=otp_message
WHATSAPP_MATCH_TEMPLATE=match_notification
UPLOAD_DIR=uploads
MAX_IMAGE_SIZE_MB=5
OTP_EXPIRY_MINUTES=5
DEV_MODE=True
DEV_BYPASS_PHONES=+919326169639,+919876543210,+919999999999
